<div class="h-full w-full !bg-[#00011D] m-0 flex-col">
    <div class="flex p-4">
        <mat-slide-toggle  
            [checked]="darkMode"
            (change)="toggleDarkMode($event)"
        >
            @if (darkMode){
                <mat-icon naria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode" class="!text-blue-500 "></mat-icon>
            }
            @else {
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="light_mode" class="!text-blue-500 "></mat-icon>
    
            }
        </mat-slide-toggle>
        <div class="flex gap-3 m-auto w-full justify-center self-center mb-4 flex-1 mr-10">
            <button mat-fab (click)="toggleWeather()" >
               <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cloud" class="!text-blue-500 "></mat-icon>    
            </button>
            <button mat-fab (click)="toggleRailways()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="train" class="!text-blue-500 "></mat-icon>    
             </button>
             <button mat-fab (click)="toggleTraffic()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car" class="!text-blue-500 "></mat-icon>    
             </button>
        </div>
        
        
    </div>
    <div class="flex justify-center bg-[#00011D] flex-1">
        <div #mapElementWrapper class="map-element-wrapper !w-[100%] !h-[80vh] !bg-[#00011D]">
            <div #mapElement class="map-element !bg-[#00011D]"></div>
        </div>
    </div>
    <div id="mapid"></div>
</div>