<!-- <p class="bg-red-400">knmi works!</p> -->


<div class="flex gap-3 m-auto w-full justify-center self-center">
    <button mat-fab >
       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cloud" class="!text-primary-500 "></mat-icon>    
    </button>
    <button mat-fab>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="train" class="!text-primary-500 "></mat-icon>    
     </button>
     <button mat-fab>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car" class="!text-primary-500 "></mat-icon>    
     </button>
</div>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>